# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Env
.env
.env.local

# Data
backend/storage/
*.sqlite3

# Node (появится вместе с фронтендом)
node_modules/
dist/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
